<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <div class="container">
      <%- include('./partials/nav',{active:active}) %>
      <main class="main">
        <section class="form-section">
          <h2><%= title %></h2>
          <form method="post">
            <div class="field-wrapper">
              <div class="label-wrapper">
                <label for="name">Name </label>
                <label for="description">Description</label>
              </div>
              <div class="inputs-wrapper">
                <input
                  for="name"
                  id="name"
                  name="name"
                  type="text"
                  value="<%- category?category.name: "" %>"
                  placeholder="Enter Category Name"
                />
                <input for="description" id="description" type="textarea"
                name="description" placeholder="Enter a brief description" value="<%- category? category.description:""
                %>">
              </div>
            </div>
            <button type="submit" class="btn">Submit</button>
          </form>
        </section>
        <div class="errors">
          <% if(errors){ %> <% errors.forEach((error)=>{ %>
          <p><%= error.msg %></p>
          <% }); %> <% } %>
        </div>
      </main>
      <%- include('./partials/footer') %>
    </div>
  </body>
</html>
