<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <div class="container">
      <%- include('./partials/nav',{active:active}) %>
      <main class="main">
        <h1><%= title %></h1>
       <form method="post">
        <div class="form-field">
            <label for="name">Name </label>
            <input for="name" id="name" name="name" type="text"
            value="<%- category? category.name:"" %>">
        </div>
        <div class="form-field">
            <label for="description">Description </label>
            <input for="description" id="description"  type="textarea" name="description"  value="<%- category? category.description:"" %>">
        </div>
        <button type="submit">Submit</button>
       </form>
       <div class="errors">
        <% if(errors){ %>
            <% errors.forEach((error)=>{ %>
                <p><%= error.msg %></p>
            <% }); %>
        <% } %>
    </div>
      </main>
      <%- include('./partials/footer') %>
    </div>
  </body>
</html>
