<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <div class="container">
      <%- include('./partials/nav',{active:active}) %>
      <main class="main">
       <section class="category-section">
        <div class="controls">
            <a href="/catalog/category/create">
                <div class="add-btn">+ Add Category</div>
            </a>
        </div>
        <div class="category-wrapper">
            <% categories.forEach((category)=>{ %>

                <a href=<%= category.url %>>
                    <div class="category-item">
                        <div class="name"><%= category.name %></div>
                        <div class="description">
                           <%= category.description %>
                        </div>
                        <div class="btn">
                            Know More
                        </div>
                    </div>
                </a>
              <% }); %>
        </div>
       </section>
      </main>
      <%- include('./partials/footer') %>
    </div>
  </body>
</html>
