<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <div class="container">
      <%- include('./partials/nav',{active:active}) %>
      <main class="main">
        <section class="section">
          <h1>Categories</h1>
          <div class="categories">
            <% categories.forEach((category)=>{ %>
              <%- include('./partials/category-btn',{category:category}) %>
            <% }); %>
          </div>
        </section>
        <section class="section">
          <h1>Instruments</h1>
          <div class="instruments">
            <% instruments.forEach((instrument)=>{ %>
              <%- include('./partials/instrument-btn',{instrument:instrument}) %>
            <% }); %>
          </div>
        </section>
      </main>
      <%- include('./partials/footer') %>
    </div>
  </body>
</html>
