<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <div class="container">
      <%- include('./partials/nav',{active:active}) %>
      <main class="main">
        <div class="form-section">
          <h2><%= title %></h2>
          <form method="post" enctype="multipart/form-data">
            <div class="field-wrapper">
              <div class="label-wrapper">
                <label for="name">Name</label>
                <label for="category">Category</label>
                <label for="description">Description</label>
                <label for="price">Price (in $)</label>
                <label for="number">Availble</label>
                <label for="image">Image</label>
              </div>
              <div class="inputs-wrapper">
                <input
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Name of instrument"
                  value="<%- instrument ? instrument.name: '' %>"
                />
                <select name="category" id="category">
                  <option value="">--Please select a category--</option>
                  <% categories.forEach((category)=>{ %>
                     <% if(instrument){ %> 
                        <%  if(instrument.category_id == category.category_id){ %>
                          <option value="<%= category.category_id %>" selected>
                            <%= category.name %>
                          </option>
                        <% }else{ %>
                        <option value="<%= category.category_id%>"><%= category.name %></option>
                        <% } %> 
                     <% }else{ %>
                        <option value="<%= category.category_id %>"><%= category.name %></option>
                    <% } %> 
                  <% }); %>
                </select>
                <input
                  type="text"
                  id="description"
                  name="description"
                  placeholder="A small description about the instrument"
                  value="<%- instrument ? instrument.description: '' %>"
                />
                <input
                  type="number"
                  id="price"
                  name="price"
                  value="<%- instrument ? instrument.price: '' %>"
                />
                <input
                  type="number"
                  id="number"
                  name="number"
                  value="<%- instrument ? instrument.number: '' %>"
                />
                <input type="file" id="image" name="image" />
              </div>
            </div>
            <button type="submit" class="btn">Submit</button>
          </form>
        </div>
      </main>
        <div class="errors">
          <% if(errors){ %> <% errors.forEach((error)=>{ %>
          <p><%= error.msg %></p>
          <% }); %> <% } %>
        </div>
      
      <%- include('./partials/footer') %>
    </div>
  </body>
</html>
